osx/thaiWitter-DEV.app
osx/thaiWitter.app
osx/XUL.framework
osx/thaiWitterClient*.app.zip
win/xulrunner
win/thaiWitterPortable.exe
win/App/thaiWitterClient
win/7z.exe
win/thaiWitterClientPortable-*.7z
win/thaiWitterClientPortable-*.zip
linux/xulrunner
linux/thaiWitter
linux/thaiWitterClient*.tar.bz2
.DS_Store
